<h1><%= @task.title  %></h1>

<p><%= @task.details  %></p>
<%if @task.completed %>
  <p>task completed!</p>
<%else %>
  <p>task not completed!</p>
<%end%>
<%= link_to "back to list", tasks_path%>
<%= link_to "edit task", edit_path%>
<%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: 'are you sure?'} %>
